.cocktail-main {
  /*height: 80vh;*/
  width: 80vw;
  background-color: sandybrown;

  display: flex;
  align-items: center;
  flex-direction: column;

  color: oldlace;
}

.cocktail__form {
  display: flex;
  justify-content: center;
  flex-direction: column;

  min-width: 400px;

  margin-top:5%;
}

.cocktail__inputFieldText {
  display: flex;
 /* justify-content: space-around;*/
  align-items: center;

  margin-bottom: 40px;
}



.cocktail__label{
  /*min-width: 150px;*/
  font-size: 20px;
  color: oldlace;
  margin: 0 30px 0 50px;
}

.cocktail__input {
  min-width: 250px;
  font-size: 20px;
  background-color: inherit;
  color: oldlace;
  height: 50px;
}

::placeholder {
  opacity: 0.7; /* Firefox */
  font-size: 20px;
  color: inherit;
  font-style: italic;
}

input.cocktail__input {
  min-width: 585px;
  border: 2px saddlebrown dashed !important;
  margin: 0 !important;
  padding-left: 10px !important;
}

textarea.cocktail__input {
  min-width: 585px;
  border: 2px saddlebrown dashed !important;
  margin: 0 !important;
  padding-left: 10px !important;
  height: 100px;
  resize: none;
  outline: none;
}

textarea.cocktail__input--big {
  height: 150px;
}

.cocktail__create {
  width: 150px;
  height: 50px;
  color: oldlace;
  font-size: 20px;
  background-color: saddlebrown;
  border: none;
  align-self: flex-end;

  margin: 100px;
}

.cocktail__add-more {
  align-self: flex-start;
}

.remove-ingredient {
  color: red;
  margin-left: 15px;
}

.add-ingredient {
  color: green;
  margin-left: 15px;
}

.cocktail__ingredient-quantity {
  min-width: 100px;
  max-width: 150px;
  font-size: 20px;
  background-color: inherit;
  color: oldlace;
  border: 2px saddlebrown dashed !important;
  border-radius: 4px;
  padding-left: 10px !important;
  height: 50px;
}

.cocktail__extra-details {
  display: flex;
}

.pt-file-input {
  width: 300px;
}